@model GroupMeetingASP.NETCoreWebApp.Models.GroupMeeting
@{
    ViewData["Title"] = "DeleteMeeting";
}

<h3 class="alert">Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupMeetingLeadName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupMeetingLeadName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeamLeadName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamLeadName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupMeetingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupMeetingDate)
        </dd>
    </dl>

    <form asp-action="DeleteMeeting" id="deleteForm">
        <input type="hidden" asp-for="Id" />
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmModal">Delete</button>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this meeting?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmDeleteBtn">OK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("confirmDeleteBtn").addEventListener("click", function () {
                var meetingId = $('#deleteForm input[name="Id"]').val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeleteMeeting", "GroupMeeting")',
                    data: { id: meetingId },
                    success: function (response) {
                        // Close the modal
                        $('#confirmModal').modal('hide');

                        // Redirect or update the UI as needed
                        window.location.href = '@Url.Action("Index", "GroupMeeting")';
                    },
                    error: function (error) {
                        console.log(error);
                        alert('An error occurred while deleting the meeting.');
                    }
                });
            });
        });
    </script>
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
